@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-background: #FEFEFE;

}

html,
body {
  background-color: #FEFEFE;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
/* ANIMATIONS I ADDED */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeup {
  animation: fadeUp 1s ease-out forwards;
}
/* END OF ANIMATIONS */